/*記述済みの部分は変更しないでください！*/

@charset "utf-8";

.mark-list {
    list-style: "★";
}


 body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

ul.mark-list {
    margin: 0 0 10px 20px;
    color: #555;
}

ul.mark-list li {
    background-color: #ffffff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul.mark-list p {
    list-style-type: none;
    padding: 0;
}
