@charset "utf-8";

@charset "utf-8";

th, td{
    text-align: left;
    padding: 15px;
}

th{
    background-color: rgb(101, 95, 89);
    color: ghostwhite;
}

td{
    background-color: silver;
}

button{
    margin-top: 16px;
    padding: 7px;
}

span{
    font-size:10px;
}

.required{
    border-radius: 4px;
    background-color: red;
}

.align_top{
    vertical-align: top;
}


.bg_gray{
    background-color: rgb(133, 133, 133);
}